[Unit]
Description=RTL-SDR P2000 Receiver
After=network.target

[Service]

Type=simple
ExecStart=/usr/bin/python3 /home/pi/RTL-SDR-P2000Receiver-HA/p2000.py

[Install]
WantedBy=multi-user.target
