[Unit]
Description=RTL-SDR P2000 Receiver
After=network.target

[Service]
Type=simple
StandardOutput=file:/home/<YOUR USER>/RTL-SDR-P2000Receiver-HA/rtlsdrp2000.log
StandardError=file:/home/<YOUR USER>/RTL-SDR-P2000Receiver-HA/rtlsdrp2000.log
ExecStart=/usr/bin/python3 /home/<YOUR USER>/RTL-SDR-P2000Receiver-HA/p2000.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
